* {
    font-family: "Hoefler Titling A",
        "Hoefler Titling B",
        "Times New Roman",
        "Times",
        serif;
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {

}
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}
@media
  (max-device-width: 42mm)
  and (min-device-width: 38mm) { 

}
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px) {

}

/* Portrait */
@media 
  (max-device-width: 800px) 
  and (orientation: portrait) { 

}

/* Landscape */
@media 
  (max-device-width: 1280px) 
  and (orientation: landscape) { 

}

/* ----------- Galaxy Tab S ----------- */

/* Portrait and Landscape */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px)
  and (-webkit-min-device-pixel-ratio: 2) {

}
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) {

}

/* Portrait */
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) 
  and (orientation: landscape) {

}

/* ----------- Nexus 9 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 1536px) 
  and (device-height: 2048px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) {

}

/* Portrait */
@media screen 
  and (device-width: 1536px) 
  and (device-height: 2048px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) 
  and (orientation: portrait) {

}
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: landscape) {

}

/* ----------- Kindle Fire HD 8.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

}
@media 
  (max-device-width: 218px)
  and (max-device-height: 281px) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: landscape) {

}

/* Landscape */
@media screen 
  and (device-width: 1536px) 
  and (device-height: 2048px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) 
  and (orientation: landscape) {

}

/* Portrait */
@media 
  (max-device-width: 800px) 
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Landscape */
@media 
  (max-device-width: 1280px) 
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {

}
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- Google Pixel XL ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {

}
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}
/* Portrait and Landscape */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px) {

}

/* Portrait */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px)  
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px) 
  and (orientation: landscape) {

}
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}
/* Root styling */
:root {
    --dark-grey: #434343;
    --border-color: #E6EAEA;
    --submit-button: #49c5b6;
    --light-grey: #ADADAD;
    --border-light: rgb(58, 58, 58);
}

/* on the fly */

.login-img {
    height: 100%;
    width: auto;
}

.register-img {
    height: 100%;
    width: auto;
}

.log-img-box {
    position: relative;
}

.lib {
    overflow: hidden;
    max-height: 850px;
}

.log-img-overlay {
    position: absolute;
    /* z-index: 5; */
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 2, 2, 0.7);
}

.login-bg {
    background-color: #2b2b2b;
}


.rem-1 {
    height: 1rem;
}

.rating-input-width {
    width: 3rem;
}

/* Root styling */

.rem-1 {
    height: 1rem;
}

.btn-outline-white-50 {
    color: rgba(255, 255, 255, 0.5) !important;
    background-color: transparent;
    background-image: none;
    border-color: rgba(255, 255, 255, 0.136) !important;
}

.border-b-white-50 {
    border-bottom: 1px solid;
    border-color: rgba(255, 255, 255, 0.136) !important;
}

.border-3 {
    border-bottom: 3px solid;
    border-color: rgba(255, 255, 255, 0.136) !important;
}

.opacity-0 {
    opacity: 0;
}

.f-12 {
    font-size: 12px;
}

.f-14 {
    font-size: 14px;
}

.f-16 {
    font-size: 16px;
}

.f-20 {
    font-size: 20px;
}

.f-24 {
    font-size: 24px;
}

.f-36 {
    font-size: 36px;
}

.f-45 {
    font-size: 45px;
}


.judge-rating {
    height: 40px;
    width: 40px;
}

.judge-rating-ppic {
    height: 50px;
    width: 50px;
    overflow: hidden;
}

.footer {
    min-height: 60vh;
}


/* on the fly */


.absolute-fade {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.dark-fade {
    animation: dark-fadein 500ms forwards;
}

.light-fade {
    animation: dark-fadeout 500ms forwards;
}

#img-icon {
    width: 16px;
    height: 16px;
}

.md-icon {
    width: 30px;
    height: 30px;
    overflow: hidden;
}

.vw-center {
    left: 50%;
    position: absolute;
}

.xl-icon {
    width: 110px;
    height: 110px;
    overflow: hidden;
}

.lg-icon {
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.cus-col-md-4 {
    -ms-flex: 0 0 32%;
    flex: 0 0 32%;
    max-width: 32%;
}

.sm-icon {
    width: 16px;
    height: 16px;
    overflow: hidden;
}

.h-30-px {
    height: 30px;
}

.btn-share-sm {
    height: 30px;
    width: 30px;
}

.light-grey {
    color: var(--light-grey)
}

.btn-blue {
    background-color: var(--submit-button);
}

.c-darkgrey {
    background-color: var(--dark-grey)
}

.bg-darkgrey {
    background-color: #2e2e2e
}

.c-blue {
    color: var(--submit-button)
}

.txt-lightgrey {
    color: var(--light-grey);
    font-size: 16px;
}

.letter-space-1 {
    letter-spacing: 0.1rem;
}

/* navbar styling */

.nav-border {
    color: var(--border-light)
}

.lan {
    letter-spacing: -0.03rem;
    text-decoration: underline var(--light-grey);
}

.nav {
    background-color: var(--dark-grey);
    height: 70px;
}

.title {
    font-size: 32px !important;
    left: 50vw;
}

@keyframes dark-fadein {
    from {
        background-color: rgba(2, 2, 2, 0.8);
    }

    to {
        background-color: rgba(2, 2, 2, 0.9);
    }
}

@keyframes dark-fadeout {
    from {
        background-color: rgba(2, 2, 2, 0.9);
    }

    to {
        background-color: rgba(2, 2, 2, 0.8);
    }
}

@keyframes sitefadein {
    0% {
        background-color: rgba(2, 2, 2, 0);
        opacity: 0;
    }

    100% {
        background-color: rgba(2, 2, 2, 0.8);
        opacity: 1;
    }
}

@keyframes sitefadeout {
    0% {
        background-color: rgba(2, 2, 2, 0.8);
        opacity: 1;
    }

    100% {
        background-color: rgba(2, 2, 2, 0);
        opacity: 0;
    }
}

/* *****  End of Navigation Bars  ***** */

.landing {
    height: 550px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.landing-img {
    width: 100%;
}

#landing-overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
}


.site-title {
    font-family: 'Limelight', cursive;
}

.circle {
    width: 100px;
    height: 100px;
    border: 3px solid;
    border-radius: 50%;
}

.border-red {
    border-color: rgb(228, 25, 25);
}

.int {
    font-size: 36px;
}

.dec {
    font-size: 16px;
}

button.md-icon {
    overflow: hidden;
}

/* styles for the boxes below */


.card-bg {
    background-color: rgba(7, 7, 7, 0.4)
}

.site-img {
    max-height: 230px;
    overflow: hidden;
    position: relative;
}


.site-fade-out {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    animation: sitefadeout 500ms forwards;
}

.site-fade-in {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    animation: sitefadein 500ms forwards;
}

.img-hoverin {
    animation: imgzoomin 500ms forwards;
    width: 100%;
}

.img-hoverout {
    animation: imgzoomout 500ms forwards;
}

@keyframes imgzoomin {
    0% {
        width: 100% !important;
    }

    100% {
        width: 110% !important;
    }
}

@keyframes imgzoomout {
    0% {
        width: 110% !important;
    }

    100% {
        width: 100% !important;
    }
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    border-right: 1px solid grey;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 13px;}
}
.topnav {
    text-align: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
  }

  .topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
  }

  #input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#input[type=text]:focus {
    width: 100%;
}
#project{
    background-color: rgba(0, 0, 0, 0.911);
    opacity: 0.9;
}
#formpro h5{
    text-align: center;
}
#formpro{
    background-color: rgba(16, 106, 148, 0.644);
    color: white;
    padding-bottom: 100px;
    padding-top: 100px;
    margin-top: 50px;
    margin-bottom: 80px;
}
.form-text{
    type: hidden;
    display: none;
    visibility: hidden;
}
#logo a{
    font-size: 20px !important;
    color:black !important;
    text-align: center !important;
    margin-left: 20px;
    font-family: 'Comfortaa', cursive;
}
@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }
@import "bourbon";

$color-lightgrey: #eee;

body{
  background: $color-lightgrey;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  body {
    background: #eee;
  }

  h1 {
    font-size: 5vw;
    margin: 1em 0 0.9em;
    color: #333;
    border-bottom: 2px solid #666;
    display: inline;
    padding: 0 0 .2em;
  }

  p {
    font-size: 3vw;
    margin: 1em 0 1em;
    color: #999;
  }

  .sect {
    margin: 0 auto;
    text-align: center;
    display: table;
    vertical-align: middle;
  }
  .sect > div {
    display: table-cell;
    vertical-align: middle;
  }

  .piesite {
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
    font-size: 6em;
    cursor: default;
    -webkit-box-sizing: p;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .percent {
    position: absolute;
    top: 1.1em;
    left: 0;
    width: 100%;
    font-size: .3em;
    text-align: center;
    z-index: 2;
  }

  .piesite > .percent .dec {
    font-size: 0.8em;
  }

  .piesite > #slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0px, 1em, 1em, 0.5em);
  }

  .piesite > #slice.gt50 {
    clip: rect(auto, auto, auto, auto);
  }

  .piesite > #slice > .pie {
    position: absolute;
    border: .1em solid #444;
    width: .8em;
    height: .8em;
    clip: rect(0em, 0.5em, 1em, 0em);
    border-radius: 0.5em;
  }

  li.design .piesite > #slice > .pie {
    border-color: #df6c4f;
  }

  li.creativity .piesite > #slice > .pie {
    border-color: #3c948b;
  }

  li.usability .piesite > #slice > .pie {
    border-color: #ecd06f;
  }

  li.content .piesite > #slice > .pie {
    border-color: #1a99aa;
  }

  .piesite > #slice > .pie.fill {
    -webkit-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
  }

  .piesite.fill > .percent {
    display: none;
  }

  .piesite:after {
    content: '';
    display: block;
    position: absolute;
    top: .1em;
    left: .1em;
    width: .8em;
    height: .8em;
    background: #eee;
    border-radius: 100%;
    z-index: 1;
  }

  .piesite:before {
    content: '';
    display: block;
    position: absolute;
    width: 1em;
    height: 1em;
    border-radius: .5em;
    opacity: .5;
    z-index: 0;
  }

  li.design .piesite:before {
    background: #df6c4f;
  }

  li.creativity .piesite:before {
    background: #3c948b;
  }

  li.usability .piesite:before {
    background: #ecd06f;
  }

  li.content .piesite:before {
    background: #1a99aa;
  }

  li.total .piesite:before {
    background: #cfd1d0;
  }

  .box-piesite ul li {
    float: left;
    margin-right: 10px;
  }
  .home-content{
      background-image: url(../images/image.jpeg) !important;
      background-attachment: fixed;
      width:100%;
      background-size: cover;
      background-repeat: no-repeat;
      height: 70vh;
      position: relative;
  }
  .home-content .btn{
    border-radius: 35%;
  }
  #data{
      margin-top: 20px;
  }
  #data p{
    font-size: 13px;

  }
  #pro{
    margin-top: 20px;
  }
  #proc img{
    border-radius: 50%;
  }
  .topnav img{
    border-radius: 50%;
  }
  .profile img{
    border-radius: 50%;
  }
  .hovereffect {
    width: 100%;
    height: 60%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }

  .hovereffect .overlay {
    width: 100%;
    height: 60%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }

  .hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
  }

  .hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
    filter: grayscale(1) blur(3px);
    -webkit-filter: grayscale(1) blur(3px);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  .hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
  }

  .hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;
  }

  .hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
  }

  .hovereffect a.info, .hovereffect h2 {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    opacity: 0;
    filter: alpha(opacity=0);
    color: #fff;
    text-transform: uppercase;
  }

.mb-0{
  font-size: 15px;
}

  .hovereffect:hover a.info, .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  #img-proj{
    margin-top: 20px;
  }
  #reg{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
