{% extends "base/layout.html" %}
{% load static %}

{% block content %}

  <div class="login-bg text-white-50 row mx-0">
    <div class="col-md-5 my-5 px-5 ">
      <div>
      </div>

      <div class="errors">
        {% if messages %}
          {% for message in messages %}
            <p class="alert alert-info">{{ message }}</p>
          {% endfor %}
        {% endif %}
      </div>

      <div class="login-form">
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <div class="form-group">
              <input class="form-control py-4" type="text" name="username" id="id_username" required="required" placeholder="Enter your username"/>
            </div>
            <div class="form-group">
              <input class="form-control py-4" type="password" name="password" id="id_password" required="required" placeholder="Emter your password"/>
            </div>
            <div class="form-group d-flex justify-content-end">
              <input class="form-control py-4" type="hidden" name="next" value="">
              <button type="submit" class="py-3 f-24 border-0 font-weight-bold form-control h-100 btn-blue d-flex justify-content-center align-items-center text-light">Login</button>
            </div>
          </div>
        </form>
      </div>
      <div class="related-links">
        <h4>Related Links</h4>
        <div class="pl-4">
          <p class="mb-0 py-2 ">Not a member yet?
            <a class="c-blue" href="{% url 'signup' %}">
              Register now
            </a>
          </p>
          <a class="py-3 text-info" href="">Forgot Password?</a>
          <br>
          <a class="py-3 text-info" href="">Feedback</a>
        </div>
      </div>
    </div>
    <div class="col-md-7 mx-0 px-0 log-img-box">
      <div class="log-img-overlay"></div>
      <div class="w-100 d-flex justify-content-center">
        <img class="login-img w-100" src="{% static 'img/login.jpg' %}" alt="">
      </div>
    </div>
  </div>

{% endblock content %}