{% extends "base/layout.html" %}
{% load static %}

{% block content %}

<section>
    <div class="landing container-fluid p-0">
        <div id="landing-img" class=" d-flex align-items-start align-content-end">
            <img class="w-100" src="{{ post.landing_image.url }}" alt="">
        </div>
        <div class="absolute-fade landing-abs-fade light-fade"></div>
        <div id="landing-overlay">
            <div class="container m-5 mx-auto py-3">
                <div class="d-flex align-items-center">
                    <div class="site-of-day d-flex mr-auto  letter-space-1">
                        <span class="text-white-50">Site Of The Day</span>
                        <span class="ml-3 text-white">{{ post.post_date | date:"M d, Y"}}</span>
                    </div>
                    <div class="ml-auto d-flex">
                        {% for judge in judges %}
                        <a href="/userdetails/{{ judge.id }}/{{ judge.username }}" class="md-icon d-flex justify-content-center rounded-circle border border-secondary mx-1">
                            <img class="h-100 judge-btn" src="{{ judge.profile.profile_photo.url }}" alt="">
                        </a>
                        {% endfor %}
                    </div>
                    <div class="">
                        <button class="btn btn-sm badge-pill px-4 mx-2 btn-outline-light">
                            <img class="rem-1 w-auto pr-2" src="{% static 'img/like.png' %}" alt="">
                            {{ post.likes.all | length }}</button>
                        <button class="btn btn-sm badge-pill px-4 btn-outline-light">Collect</button>
                    </div>
                </div>
                <div class="text-center pt-4 mt-2">
                    <h1 class="mb-0 f-45 text-white site-title" href="">{{post.name}}</h1>
                </div>
                <div class="text-center p-1">
                    <p class="text-white-50 mb-0  text-uppercase">
                        BY
                        <a href="/userdetails/{{ post.uploaded_by.id }}/{{ post.uploaded_by.profile.user_name }}" class="c-blue nav-link d-inline-flex px-1">{{post.uploaded_by.username}}</a>
                        {% if post.uploaded_by.profile.country %}
                        FROM
                        <span class="text-white">{{ post.uploaded_by.profile.country }}</span>
                        {% endif %}
                        WITH
                        <span class="text-white">{{ average_rating }}</span>
                    </p>
                </div>
                <div class="d-flex justify-content-center mt-3 mb-5">
                    <div class="mx-2 ratings">
                        <div class="circle border-red text-center d-flex align-items-center justify-content-center">
                            <div class="text-white">
                                <span class="int font-weight-bold">{{ average_design_w }}</span>
                                <span class="dec">.{{ average_design_d }}</span>
                            </div>
                        </div>
                        <div class="p-2 text-center">
                            <h2 class="light-grey f-12">DESIGN</h2>
                        </div>
                    </div>
                    <div class="mx-2 ratings">
                        <div class="circle border-warning text-center d-flex align-items-center justify-content-center">
                            <div class="text-white">
                                <span class="int font-weight-bold">{{ average_usability_w }}</span>
                                <span class="dec">.{{ average_usability_d }}</span>
                            </div>
                        </div>
                        <div class="p-2 text-center">
                            <h2 class="light-grey f-12">USABILITY</h2>
                        </div>
                    </div>
                    <div class="mx-2 ratings">
                        <div class="circle border-success text-center d-flex align-items-center justify-content-center">
                            <div class="text-white">
                                <span class="int font-weight-bold">{{ average_creativity_w }}</span>
                                <span class="dec">.{{ average_creativity_d }}</span>
                            </div>
                        </div>
                        <div class="p-2 text-center">
                            <h2 class="light-grey f-12">CREATIVITY</h2>
                        </div>
                    </div>
                    <div class="mx-2 ratings">
                        <div class="circle border-info text-center d-flex align-items-center justify-content-center">
                            <div class="text-white">
                                <span class="int font-weight-bold">{{ average_content_w }}</span>
                                <span class="dec">.{{ average_content_d }}</span>
                            </div>
                        </div>
                        <div class="p-2 text-center">
                            <h2 class="light-grey f-12">CONTENT</h2>
                        </div>
                    </div>
                    <div class="mx-2 ratings">
                        <div class="circle border-info text-center d-flex align-items-center justify-content-center">
                            <div class="text-white">
                                <span class="int font-weight-bold">{{ average_mobile_w }}</span>
                                <span class="dec">.{{ average_mobile_d }}</span>
                            </div>
                        </div>
                        <div class="p-2 text-center">
                            <h2 class="light-grey f-12">MOBILE</h2>
                        </div>
                    </div>
                </div>
                <div class="d-flex my-4">
                    <div class="mr-auto d-flex">
                        <a href="{{ post.site_link }}">
                            <button class="btn btn-sm badge-pill px-4 btn-success">Visite Site</button>
                        </a>
                        <div id="share" class="ml-2">
                            <img class="md-icon" src="{% static 'img/share.png' %}" alt="">
                        </div>
                    </div>
                    <div class="ml-auto d-flex">
                        <div id="share" class="ml-2">
                            <img class="md-icon" src="{% static 'img/angleleft.png' %}" alt="">
                        </div>
                        <div id="share" class="ml-2">
                            <img class="md-icon" src="{% static 'img/angleright.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>


    <div class="container-fluid bg-darkgrey">

        <div class=" container p-5">
            <div class="py-2 text-white-50">
                <p class="text-center">
                    {{ post.description }}
                </p>
            </div>
            <div class="py-2 text-white-50 text-center">
                <button class="btn btn-sm badge-pill px-4 btn-outline-white-50 my-2 mx-1">Art & Illustration</button>
                <button class="btn btn-sm badge-pill px-4 btn-outline-white-50 my-2 mx-1">Games & Entertainment</button>
                <button class="btn btn-sm badge-pill px-4 btn-outline-white-50 my-2 mx-1">Mobile & Apps</button>
                <button class="btn btn-sm badge-pill px-4 btn-outline-white-50 my-2 mx-1">Big Background Images</button>
                <button class="btn btn-sm badge-pill px-4 btn-outline-white-50 my-2 mx-1">Clean</button>
                <button class="btn btn-sm badge-pill px-4 btn-outline-white-50 my-2 mx-1">Colorful</button>
                <button class="btn btn-sm badge-pill px-4 btn-outline-white-50 my-2 mx-1">Single Page</button>
                <button class="btn btn-sm badge-pill px-4 btn-outline-white-50 my-2 mx-1">Illustration</button>
                <button class="btn btn-sm badge-pill px-4 btn-outline-white-50 my-2 mx-1">3D</button>
                <button class="btn btn-sm badge-pill px-4 btn-outline-white-50 my-2 mx-1">HTML 5</button>
                <button class="btn btn-sm badge-pill px-4 btn-outline-white-50 my-2 mx-1">React.js</button>

            </div>
        </div>


        <p class="border-b-white-50 border-bottom"></p>


        <div class="container d-flex justify-content-center my-3 mb-5">
            <div class="p-2">
                <a class="text-white-50 nav-link font-weight-bold border-3" href="#">Screen
                    Shots</a>
            </div>
            <div class="p-2">
                <a class="text-white-50 nav-link" href="#">Jury Votes</a>
            </div>
            <div class="p-2">
                <a class="text-white-50 nav-link" href="#">Comments</a>
            </div>
        </div>

        <div id="screenshots" class="container-fluid mb-5 mx-5 px-5 mx-auto">
            <a href="#">
                <div class="w-100">
                    <img class="w-100" src="{{ post.screenshot_1.url }}" alt="">
                </div>
            </a>
        </div>

        <div id="screenshots" class="container-fluid mb-5 mx-5 px-5 mx-auto">
            <a href="#">
                <div class="w-100">
                    <img class="w-100" src="{{ post.screenshot_2.url }}" alt="">
                </div>
            </a>
        </div>

        <div id="screenshots" class="container-fluid mb-5 px-5 mx-0 row mx-auto d-flex justify-content-around">
            <a class="col-md-6 pl-0 pr-3" href="#">
                <div class="w-100">
                    <img class="w-100" src="{{ post.screenshot_3.url }}" alt="">
                </div>
            </a>

            <a class="col-md-6 pr-0 pl-3" href="#">
                <div class="w-100">
                    <img class="w-100" src="{{ post.screenshot_4.url }}" alt="">
                </div>
            </a>
        </div>


        <div id="ratings" class="container-fluid mb-5 mx-5 mt-3 px-5 mx-auto text-white-50">
            <div class="votes-title card-bg row mx-0 px-0 py-4 mb-1 d-flex align-items-center">
                <div class="col-md-1 f-14">
                    <p class="mb-0">VOTES</p>
                </div>
                <div class="col-md-1 f-14 d-flex">
                    <p class="mb-0">{{ judges | length }}</p>
                    <!-- ****************************************************** -->
                    {% if judges.count is 1 %}
                    <p class="mb-0 pl-1">JUDGE</p>
                    {% else %}
                    <p class="mb-0 pl-1">JUDGES</p>
                    {% endif %}
                </div>
                <div class="col-md-1 f-14 d-flex">
                    <p class="mb-0">{{ judges | length }}</p>
                    {% if judges.count is 1 %}
                    <p class="mb-0 pl-1">USER</p>
                    {% else %}
                    <p class="mb-0 pl-1">USERS</p>
                    {% endif %}
                </div>
                <div class="col-md-8 f-14"></div>
                <div class="col-md-1 f-14">
                    <img class="md-icon d-flex mx-auto" src="{% static 'img/info.png' %}" alt="">
                </div>
            </div>

            {% for rating in ratings %}
            <div class="votes-title card-bg row mx-0 px-0 py-3 mb-1 d-flex align-items-center">
                <div class="col-md-1 f-14">
                    <div class="rounded-circle judge-rating-ppic d-flex justify-content-center">
                        <img class="w-auto h-100" src="{{ rating.user.profile.profile_photo.url }}" alt="">
                    </div>
                </div>
                <div class="col-md-6 pl-0 f-14">
                    <p class="mb-0 ">
                        <span class="font-weight-bold">{{ rating.user.profile.user_name }}</span>
                        <span class="font-italic">from</span>
                        {% if rating.user.profile.country %}
                        <span class="font-weight-bold">{{ rating.user.profile.country }}</span>
                        {% else %}
                        <span class="font-weight-bold">
                            Awwwards
                        </span>
                        {% endif %}
                    </p>
                    <p class="mb-0">
                        {% if rating.user.profile.company_name %}
                        <span>{{ rating.user.profile.company_name }},</span>
                        {% endif %}
                        {% if rating.user.profile.occupation %}
                        <span>{{ rating.user.profile.occupation }},</span>
                        {% endif %}
                        {% if not rating.user.profile.occupation and rating.user.profile.company_name %}
                        <a href="http://localhost:8000/userdetails/">
                            <span>
                                {{ rating.user.profile.user_name}}/awwwads_profile
                            </span>
                        </a>
                        {% endif %}
                    </p>
                </div>
                <div class="col-md-3 pl-0 d-flex justify-content-end">
                    <div class="mr-2 border rounded-circle judge-rating border-danger d-flex justify-content-center align-items-center">
                        <span class="pt-2 pb-1 px-2 f-12 text-danger">{{ rating.design }}</span>
                    </div>
                    <div class="mr-2 border rounded-circle judge-rating border-warning d-flex justify-content-center align-items-center">
                        <span class="pt-2 pb-1 px-2 f-12 text-warning">{{ rating.usability }}</span>
                    </div>
                    <div class="mr-2 border rounded-circle judge-rating border-success d-flex justify-content-center align-items-center">
                        <span class="pt-2 pb-1 px-2 f-12 text-success">{{ rating.creativity }}</span>
                    </div>
                    <div class="mr-2 border rounded-circle judge-rating border-info d-flex justify-content-center align-items-center">
                        <span class="pt-2 pb-1 px-2 f-12 text-info">{{ rating.content }}</span>
                    </div>
                    <div class="mr-2 border rounded-circle judge-rating border-secondary d-flex justify-content-center align-items-center">
                        <span class="pt-2 pb-1 px-2 f-12 text-secondary">{{ rating.mobile }}</span>
                    </div>
                </div>
                <div class="col-md-1 pl-0">
                    <div class="d-flex-block border btn-outline-white-50 text-center mx-2 py-2">
                        <div>
                            <p class="f-12 font-weight-bold mb-0">JURY</p>
                        </div>
                        <div>
                            <img class="sm-icon" src="{% static 'img/fp.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-1 pl-0 average-rating">
                    <p class="mb-0 f-24">{{ rating.average_judge_rating }}</p>
                </div>
            </div>
            {% endfor %}
            <div class="votes-title bg-transparent rounded text-white mt-5">

                <div class="row mx-0 px-0 py-3 d-flex align-items-center ">
                    <div class="col-md-1 f-14">
                        <div class="rounded-circle judge-rating-ppic d-flex justify-content-center">
                            <img class="h-100 w-auto" src="{{ user.profile.profile_photo.url }}" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 pl-0 f-14">
                        <p class="mb-0 ">
                            <span class="font-weight-bold">{{ user.profile.user_name }}</span>
                            <span class="font-italic">from</span>
                            {% if user.profile.country %}
                            <span class="font-weight-bold">{{ user.profile.country }}</span>
                            {% else %}
                            <span class="font-weight-bold">
                                Awwwards
                            </span>
                            {% endif %}
                        </p>
                        <p class="mb-0">
                            {% if user.profile.company_name %}
                            <span>{{ user.profile.company_name }},</span>
                            {% endif %}
                            {% if user.profile.occupation %}
                            <span>{{ user.profile.occupation }},</span>
                            {% endif %}
                            {% if not user.profile.occupation and user.profile.company_name %}
                            <a href="http://localhost:8000/userdetails/">
                                <span>
                                    {{ user.profile.user_name}}/awwwads_profile
                                </span>
                            </a>
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-md-3 pl-0 d-flex justify-content-end">

                    </div>
                    <div class="col-md-1 pl-0">
                        <div class="d-flex-block border btn-outline-white-50 text-center mx-2 py-2">
                            <div>
                                <p class="f-12 font-weight-bold mb-0 text-white">JURY</p>
                            </div>
                            <div>
                                <img class="sm-icon" src="{% static 'img/fp.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 pl-0 average-rating">
                        <p class="mb-0 f-24">{{ rating.average_judge_rating }}</p>
                    </div>
                </div>
                <div class="border-bottom btn-outline-white-50 mx-4"></div>
                <div class="" id="rating-section">
                    <form method="post">
                        {% csrf_token %}
                        {% if user.ratings.all.count == 0 %}
                        <div class="row m-0 px-2 py-4 d-flex justfy-content-center">
                            <div class="col-md-2 mx-auto d-inline-flex form-group mb-0 px-2 d-flex align-items-center">
                                <label class="form-control-sm f-16 mb-0" for="id_usability">usability:</label>
                                <input class="form-inline-flex form-control mb-0 rating-input-width" type="text" name="usability"
                                    id="id_usability" required placeholder="0.00" />
                            </div>
                            <div class="col-md-2 mx-auto d-inline-flex form-group mb-0 px-2 d-flex align-items-center">
                                <label class="form-control-sm f-16 mb-0" for="id_creativity">creativity:</label>
                                <input class="form-inline-flex form-control mb-0 rating-input-width" type="creativity"
                                    name="creativity" id="id_creativity" required placeholder="0.00" />
                            </div>
                            <div class="col-md-2 mx-auto d-inline-flex form-group mb-0 px-2 d-flex align-items-center">
                                <label class="form-control-sm f-16 mb-0" for="id_design">design:</label>
                                <input class="form-inline-flex form-control mb-0 rating-input-width" type="design" name="design"
                                    id="id_design" required placeholder="0.00" />
                            </div>
                            <div class="col-md-2 mx-auto d-inline-flex form-group mb-0 px-2 d-flex align-items-center">
                                <label class="form-control-sm f-16 mb-0" for="id_content">content:</label>
                                <input class="form-inline-flex form-control mb-0 rating-input-width" type="content"
                                    name="content" id="id_content" required placeholder="0.00" />
                            </div>
                            <div class="col-md-2 mx-auto d-inline-flex form-group mb-0 px-2 d-flex align-items-center">
                                <label class="form-control-sm f-16 mb-0" for="id_mobile">mobile:</label>
                                <input class="form-inline-flex form-control mb-0 rating-input-width" type="mobile" name="mobile"
                                    id="id_mobile" required placeholder="0.00" />
                            </div>
                        </div>
                        {% endif %}
                        <div class="border-bottom btn-outline-white-50 mx-4"></div>
                        <div id="comment-post" class="row m-0 px-2 py-4 d-flex justfy-content-center">
                            <div class="col-md-12 form-group mx-auto mx-2 ">
                                <div>
                                    <label class="form-control-sm f-16 mb-0" for="id_review">
                                        {{ post.comments.all | length }} comments
                                    </label>
                                </div>
                                <div class="d-inline-flex w-100 mx-auto">
                                    <textarea class="form-inline form-control mb-0 rating-input-width w-75" type="review"
                                        name="review" id="id_review" placeholder="Add a review for this post"></textarea>
                                    <button class="btn btn-secodary px-5 ml-5" type="submit">Post comment</button>
                                </div>
                                <div>
                                    {% if post.comments.all.count is 0 %}
                                    <label for="" class="form-control-sn f-24 mb-0">Be the first to comment</label>
                                    {% endif %}
                                </div>

                                {% for review in post.comments.all %}
                                {% if review.review %}
                                <div class="container d-flex mt-3 pt-1">
                                    <div class="lg-icon mr-3 d-flex justify-content-center">
                                        <img class="w-auto h-100" src="{{ review.author.profile.profile_photo.url }}"
                                            alt="">
                                    </div>
                                    <div class="">
                                        <div class="d-flex">
                                            <span class="f-12 text-success text-lowercase pr-2 mr-2 border-right border-secondary">
                                                {{review.author.profile.user_name}}</span>
                                            <span class="f-12 text-muted">{{ review.post_date | timesince }} ago</span>
                                        </div>
                                        <div class="pt-2">
                                            <p class="text-white-50 mb-0 py-1">{{ review.review }}</p>
                                        </div>
                                        <div class="text-white-50 py-1">
                                            <button class="btn btn-sm btn-outline-secondary badge-pill px-3 py-0">Edit</button>
                                            <button class="btn btn-sm btn-outline-secondary badge-pill px-3 py-0">Reply</button>
                                            <button class="btn btn-sm btn-outline-secondary badge-pill px-3 py-0">Share</button>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <hr class="m-0 p-0">

        <div class="container-fluid bg-darkgrey">
            <div class="mx-5">
                <div class="title py-5 d-flex">
                    <div class="row-right d-flex mr-auto">
                        <span class="f-16 light-grey font-weight-bold letter-space-1">Sites Of The Day</span>
                        <span class="f-16 text-white-50 ml-2">Previous Winners</span>
                    </div>
                    <div class="row-left ml-auto d-flex">
                        <span class="f-16 light-grey font-weight-bold letter-space-1">Mobile Excelence</span>
                        <span class="f-16 text-white-50 ml-2">recorgonized by Google</span>
                    </div>
                </div>
                <div id="row-content" class="row m-0 p-0 d-flex justify-content-between">



                    {% for pod in posts %}

                    <div class="cus-col-md-4 px-0" id="id{{ pod.id }}" onmouseover="getid(this.id);" onmouseout="outmouse(this.id);">
                        <div id=" site-box" class="card card-bg ">
                            <a href="rate/post/{{ pod.id }}">
                                <div id="site-image-box" class="">
                                    <div class="site-img">
                                        <img class="card-img-top img-hoverin" src="{{ pod.landing_image.url }}" alt="">
                                        <div class="site-fade site-fade-out" id="fadeid{{ pod.id }}">
                                            <div class="h-100 p-3 d-flex flex-column">
                                                <div class="d-flex justify-content-end">
                                                    <button class="btn btn-sm badge-pill px-4 mx-2 btn-outline-light">
                                                        <img class="rem-1 w-auto pr-2" src="{% static 'img/like-grey.png' %}"
                                                            alt="">
                                                        {{ pod.likes.all | length }}</button>
                                                    <button class="ml-2 btn btn-sm btn-outline-secondary badge-pill">collect</button>
                                                </div>
                                                <div class="d-flex justify-content-end mt-auto">
                                                    <button class="btn badge-pill p-0 btn-outline-secondary h-30-px">
                                                        <img class="h-100 p-1" src="{% static 'img/share-arrow.png' %}"
                                                            alt="">
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div id="site-content-box" class="container p-3">
                                <div class="pb-4">
                                    <a class="mb-0 text-white-50 nav-link pl-0" href="">{{ pod.name }}</a>
                                </div>
                                <div class="d-flex pb-4 border-bottom border-secondary">
                                    <span class="text-secondary letter-space-1 f-12 mr-auto">From
                                        {{pod.uploaded_from}}</span>
                                    <span class="text-secondary letter-space-1 f-12">{{pod.post_date | date:"M d, Y" }}</span>
                                </div>
                            </div>
                            <div id="site-footer-box" class="container p-3 d-flex">
                                <div id="footer-left" class="d-flex align-items-center mr-auto">
                                    <a href="" class="md-icon d-flex justify-content-center rounded-circle border border-secondary">
                                        <img class="h-100" src="{{ pod.uploaded_by.profile.profile_photo.url }}" alt="">
                                    </a>
                                    <a id="by-user" class="pl-2 f-12 text-white-50 nav-link text-uppercase" href="">
                                        <span class="pr-1">By </span>
                                        <span class="font-weight-bold">{{ pod.uploaded_by.profile.user_name }}</span>
                                    </a>
                                </div>
                                <div id="footer-right">
                                    <span class="btn badge-pill" id="HM"></span>
                                    <span class="btn badge-pill" id="DEV"></span>
                                    <span class="btn badge-pill" id="SOTD"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br><br><br><br><br>
        <div class="p-5"></div>
    </div>
</section>
{% endblock %}